{% extends 'base.html.twig' %}

{% block body %}
    <h1>Strip edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-mlg btn-success">Edit</button>
    {{ form_end(edit_form) }}

    <ul style="margin-top:50px;">
        <li>
            <a href="{{ path('strip_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
               <button type="submit" class="btn btn-md btn-danger">Strip verwijderen</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
